<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Üdvözöljük az iskolát minősító tesztben!</h1>
    <p class="col-md-8 fs-4">Ez a teszt 18 kérdést tartalmaz</p>
    <h4>Útmutató:</h4>
    <ol>
        <li>Az állítások két csoportra vannak osztva 1. iskola minősítése, 2. tanárok minősítése</li>
        <li>Az iskola értékelését egyszer, de a tanárok minősítését személyenként kell elvégezni</li>
        <li>A feltevéseket 1-5 ig lehet értékelni, több pont jobb értékelésnek számít </li>
        <li>Az értékelések végén szükséges menteni</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">Az értékeléssel az iskolát és magadat is segíted!</h1>
    <div class="name col-md-4 my-3">
        <div>
            <p-button label="Kezdés" (onClick)="navigateToQuestionSc()"></p-button>
        </div>
    </div>
</div>


 <p>

 </p>








